body {
  background: url("../images/pattern.png");
  font-family: 'Droid Sans', arial, serif; }
  body header {
    padding: 15px 0;
    width: 100%;
    background: black; }
    body header a, body header a:hover {
      text-decoration: none; }
    body header #logo {
      font-size: 18px; }
      body header #logo .first-name {
        color: #ffffff; }
      body header #logo .last-name {
        color: #74acd4; }
      body header #logo .slogan {
        color: #969696;
        font-size: 10px;
        margin-top: -5px; }
  body footer {
    padding: 15px 0;
    width: 100%;
    background: black; }
    body footer h1 {
      color: #DDD;
      font-size: 18px;
      font-family: 'Droid Sans', arial, serif; }
    body footer p {
      color: #4F4F4F;
      font-size: 12px; }
    body footer img {
      text-aling: center; }
    body footer .social a, body footer .social a:hover {
      text-decoration: none; }
  body #content {
    width: 100%;
    padding: 15px 0;
    background: white; }
    body #content h1 {
      padding: 0 0 10px;
      font: normal 22px "Lucida Grande", sans-serif; }
    body #content .post {
      margin-bottom: 10px;
      margin: 0 0 30px 0;
      padding: 0 0 10px 0px;
      border-bottom: 1px solid #EEE; }
      body #content .post h2 {
        color: #303030;
        font-size: 15px;
        margion-bottom: 5px; }
      body #content .post p {
        font-size: 12px;
        margin-bottom: 10px; }
      body #content .post a, body #content .post a:hover {
        color: #303030;
        text-decoration: none; }
      body #content .post a:hover {
        text-decoration: underline; }
      body #content .post img {
        vertical-align: middle; }
      body #content .post .date {
        padding: 2px 4px;
        background: #ffffff;
        border: 1px solid #eeeeee;
        border-bottom: 1px solid #ddd;
        font-size: 9px;
        color: #746858;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px; }
      body #content .post .readmore {
        color: #88BBC8;
        font-size: 10px;
        font-style: italic; }
      body #content .post .readmore:hover {
        color: #C80B2F; }
