---
layout: post
title: Дума напред и дума назад в iTerm2
---
%p
  Наскоро преминах към <strong>iTerm2</strong> и най-голямата ми болка беше, че комбинациите за прехвърляне от дума на дума
  %img{:src => "/images/keys/menusym-option.gif"}
  → и
  %img{:src => "/images/keys/menusym-option.gif"}
  ← не работят. Тези комбинации са доста стандартизирани, човек лесно свиква с тях и липсата им е доста дразнеща.
%p
  За щастие в iTerm2 лесно могат да се дефинират действията на клавишите. Трябва просто се редактира текущия профил.
  Комбинацията
  %img{:src => "/images/keys/menusym-command.gif"}
  I (Cmd + I) отваря прозореца с настройките от там клавиците се променят от раздела за клавиатурата.
  Избира се знака "+" (добавяне на нова комбинация).
  Въвежда се желаната комбинация (
  %img{:src => "/images/keys/menusym-option.gif"}
  →
  )
  След това от бокса "Action" => "Send escape sequence" и се въвежда "f" (Esc + f)
  %img{:src => "/images/posts/backwards-word-forwards-word-iterm2.jpg"}
%p
  Същата логика се прилага и за
  %img{:src => "/images/keys/menusym-option.gif"}
  ←, като тук комбинацията е Esc + b