body {
  background: url("../images/pattern.png") center top;
  font-family: 'Droid Sans', arial, serif; }
  body header {
    padding: 15px 0;
    width: 100%;
    background: black; }
    body header a, body header a:hover {
      text-decoration: none; }
    body header #logo {
      font-size: 20px; }
      body header #logo .first-name {
        color: #ffffff; }
      body header #logo .last-name {
        color: #74acd4; }
      body header #logo .slogan {
        color: #969696;
        font-size: 10px;
        margin-top: -5px; }
  body footer {
    padding: 15px 0;
    width: 100%;
    background: black;
    font-size: 12px;
    font-family: 'Droid Sans', arial, serif; }
    body footer p {
      color: #4F4F4F; }
    body footer h1 {
      color: #DDD;
      font-size: 18px; }
    body footer h2 {
      color: #DDD; }
    body footer img {
      text-aling: center; }
    body footer a {
      color: #4F4F4F;
      text-decoration: none; }
    body footer a:hover {
      color: #DDD;
      text-decoration: underline; }
    body footer .social a, body footer .social a:hover {
      text-decoration: none; }
  body #content {
    width: 100%;
    padding: 15px 0;
    background: white; }
    body #content h1 {
      padding: 0 0 10px;
      font: normal 22px "Lucida Grande", sans-serif; }
    body #content .post {
      font-size: 12px;
      margin: 0 0 10px 0;
      padding: 0 0 10px 0px;
      border-bottom: 1px solid #EEE; }
      body #content .post h2 {
        color: #303030;
        font-size: 16px;
        margin-bottom: 5px; }
        body #content .post h2 a, body #content .post h2 a:hover {
          color: #303030; }
          body #content .post h2 a:hover, body #content .post h2 a:hover:hover {
            color: #303030; }
      body #content .post p {
        margin-bottom: 10px; }
      body #content .post img {
        vertical-align: middle; }
      body #content .post a, body #content .post a:hover {
        color: #959595;
        text-decoration: none; }
        body #content .post a:hover, body #content .post a:hover:hover {
          color: #959595;
          text-decoration: underline; }
      body #content .post li ul, body #content .post li ol {
        margin: 0; }
      body #content .post ul, body #content .post ol {
        margin: 0 1.5em 1.5em 0;
        padding-left: 1.5em; }
      body #content .post ul {
        list-style-type: disc; }
      body #content .post ol {
        list-style-type: decimal; }
      body #content .post dl {
        margin: 0 0 1.5em 0; }
      body #content .post dl dt {
        font-weight: bold; }
      body #content .post dd {
        margin-left: 1.5em; }
      body #content .post blockquote {
        margin: 1.5em;
        color: #666;
        font-style: italic; }
      body #content .post strong, body #content .post dfn {
        font-weight: bold; }
      body #content .post em, body #content .post dfn {
        font-style: italic; }
      body #content .post sup, body #content .post sub {
        line-height: 0; }
      body #content .post abbr, body #content .post acronym {
        border-bottom: 1px dotted #666; }
      body #content .post address {
        margin: 0 0 1.5em;
        font-style: italic; }
      body #content .post del {
        color: #666; }
      body #content .post pre {
        margin: 1.5em 0;
        white-space: pre; }
      body #content .post pre, body #content .post code, body #content .post tt {
        font: 1em 'andale mono', 'lucida console', monospace;
        line-height: 1.5; }
      body #content .post code {
        background-color: #f1f1f1; }
      body #content .post pre {
        background-color: #f1f1f1;
        border-bottom: 1px solid #d6d6d6;
        border-top: 1px solid #d6d6d6;
        padding-left: 20px; }
      body #content .post .highlight {
        /* Comment */
        /* Error */
        /* Keyword */
        /* Operator */
        /* Comment.Multiline */
        /* Comment.Preproc */
        /* Comment.Single */
        /* Comment.Special */
        /* Generic.Deleted */
        /* Generic.Deleted.Specific */
        /* Generic.Emph */
        /* Generic.Error */
        /* Generic.Heading */
        /* Generic.Inserted */
        /* Generic.Inserted.Specific */
        /* Generic.Output */
        /* Generic.Prompt */
        /* Generic.Strong */
        /* Generic.Subheading */
        /* Generic.Traceback */
        /* Keyword.Constant */
        /* Keyword.Declaration */
        /* Keyword.Pseudo */
        /* Keyword.Reserved */
        /* Keyword.Type */
        /* Literal.Number */
        /* Literal.String */
        /* Name.Attribute */
        /* Name.Builtin */
        /* Name.Class */
        /* Name.Constant */
        /* Name.Entity */
        /* Name.Exception */
        /* Name.Function */
        /* Name.Namespace */
        /* Name.Tag */
        /* Name.Variable */
        /* Operator.Word */
        /* Text.Whitespace */
        /* Literal.Number.Float */
        /* Literal.Number.Hex */
        /* Literal.Number.Integer */
        /* Literal.Number.Oct */
        /* Literal.String.Backtick */
        /* Literal.String.Char */
        /* Literal.String.Doc */
        /* Literal.String.Double */
        /* Literal.String.Escape */
        /* Literal.String.Heredoc */
        /* Literal.String.Interpol */
        /* Literal.String.Other */
        /* Literal.String.Regex */
        /* Literal.String.Single */
        /* Literal.String.Symbol */
        /* Name.Builtin.Pseudo */
        /* Name.Variable.Class */
        /* Name.Variable.Global */
        /* Name.Variable.Instance */
        /* Literal.Number.Integer.Long */ }
        body #content .post .highlight .c {
          color: #999988;
          font-style: italic; }
        body #content .post .highlight .err {
          color: #a61717;
          background-color: #e3d2d2; }
        body #content .post .highlight .k {
          font-weight: bold; }
        body #content .post .highlight .o {
          font-weight: bold; }
        body #content .post .highlight .cm {
          color: #999988;
          font-style: italic; }
        body #content .post .highlight .cp {
          color: #999999;
          font-weight: bold; }
        body #content .post .highlight .c1 {
          color: #999988;
          font-style: italic; }
        body #content .post .highlight .cs {
          color: #999999;
          font-weight: bold;
          font-style: italic; }
        body #content .post .highlight .gd {
          color: #000000;
          background-color: #ffdddd; }
        body #content .post .highlight .gd .x {
          color: #000000;
          background-color: #ffaaaa; }
        body #content .post .highlight .ge {
          font-style: italic; }
        body #content .post .highlight .gr {
          color: #aa0000; }
        body #content .post .highlight .gh {
          color: #999999; }
        body #content .post .highlight .gi {
          color: #000000;
          background-color: #ddffdd; }
        body #content .post .highlight .gi .x {
          color: #000000;
          background-color: #aaffaa; }
        body #content .post .highlight .go {
          color: #888888; }
        body #content .post .highlight .gp {
          color: #555555; }
        body #content .post .highlight .gs {
          font-weight: bold; }
        body #content .post .highlight .gu {
          color: #aaaaaa; }
        body #content .post .highlight .gt {
          color: #aa0000; }
        body #content .post .highlight .kc {
          font-weight: bold; }
        body #content .post .highlight .kd {
          font-weight: bold; }
        body #content .post .highlight .kp {
          font-weight: bold; }
        body #content .post .highlight .kr {
          font-weight: bold; }
        body #content .post .highlight .kt {
          color: #445588;
          font-weight: bold; }
        body #content .post .highlight .m {
          color: #009999; }
        body #content .post .highlight .s {
          color: #d14; }
        body #content .post .highlight .na {
          color: #008080; }
        body #content .post .highlight .nb {
          color: #0086B3; }
        body #content .post .highlight .nc {
          color: #445588;
          font-weight: bold; }
        body #content .post .highlight .no {
          color: #008080; }
        body #content .post .highlight .ni {
          color: #800080; }
        body #content .post .highlight .ne {
          color: #990000;
          font-weight: bold; }
        body #content .post .highlight .nf {
          color: #990000;
          font-weight: bold; }
        body #content .post .highlight .nn {
          color: #555555; }
        body #content .post .highlight .nt {
          color: #000080; }
        body #content .post .highlight .nv {
          color: #008080; }
        body #content .post .highlight .ow {
          font-weight: bold; }
        body #content .post .highlight .w {
          color: #bbbbbb; }
        body #content .post .highlight .mf {
          color: #009999; }
        body #content .post .highlight .mh {
          color: #009999; }
        body #content .post .highlight .mi {
          color: #009999; }
        body #content .post .highlight .mo {
          color: #009999; }
        body #content .post .highlight .sb {
          color: #d14; }
        body #content .post .highlight .sc {
          color: #d14; }
        body #content .post .highlight .sd {
          color: #d14; }
        body #content .post .highlight .s2 {
          color: #d14; }
        body #content .post .highlight .se {
          color: #d14; }
        body #content .post .highlight .sh {
          color: #d14; }
        body #content .post .highlight .si {
          color: #d14; }
        body #content .post .highlight .sx {
          color: #d14; }
        body #content .post .highlight .sr {
          color: #009926; }
        body #content .post .highlight .s1 {
          color: #d14; }
        body #content .post .highlight .ss {
          color: #990073; }
        body #content .post .highlight .bp {
          color: #999999; }
        body #content .post .highlight .vc {
          color: #008080; }
        body #content .post .highlight .vg {
          color: #008080; }
        body #content .post .highlight .vi {
          color: #008080; }
        body #content .post .highlight .il {
          color: #009999; }
      body #content .post .date {
        padding: 2px 4px;
        background: #ffffff;
        border: 1px solid #eeeeee;
        border-bottom: 1px solid #ddd;
        font-size: 9px;
        color: #746858;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px; }
      body #content .post .readmore {
        color: #74acd4;
        font-size: 10px;
        font-style: italic; }
      body #content .post .readmore:hover {
        color: #C80B2F; }
