---
---
$light-blue: #74acd4;
$silver-href: #959595;
$dark-text: #303030;
body {
  background: url('../images/pattern.png') center top;
  font-family: 'Droid Sans', arial, serif;
  
  header {
    padding: 15px 0;
    width: 100%;
    background: black;
    a, a:hover { text-decoration: none; }
    #logo {
      font-size: 20px;
      .first-name { color: #ffffff; }
      .last-name { color: $light-blue; }
      .slogan {
        color: #969696;
        font-size: 10px;
        margin-top: -5px;
      }
    }
  }
  
  footer {
    padding: 15px 0;
    width: 100%;
    background: black;
    font-size: 12px;
    font-family: 'Droid Sans', arial, serif;
    
    p { color: #4F4F4F; }
    h1 { color: #DDD; font-size: 18px; }
    h2 { color: #DDD; }
    img { text-aling: center; }
    a { color:#4F4F4F; text-decoration: none;}
    a:hover { color:#DDD; text-decoration: underline;}
    .social {
      a, a:hover { text-decoration: none; }
    }
  }
  
  #content {
    width: 100%;
    padding: 15px 0;
    background: white;
    h1 {
      padding: 0 0 10px;
      font: normal 22px "Lucida Grande", sans-serif;
    }
    .post {
      margin-bottom: 10px;
      margin: 0 0 30px 0;
      padding: 0 0 10px 0px;
      border-bottom: 1px solid #EEE;
      
      h2 {
        color: $dark-text;
        font-size: 16px;
        margion-bottom:5px;
      }
      p {
        font-size: 12px; margin-bottom:10px;
        a, a:hover { color: $silver-href; }
      }
      a, a:hover { color: $dark-text; text-decoration: none; }
      a:hover { text-decoration: underline; }
      img { vertical-align: middle; }
      .date {
        padding:2px 4px;
        background:#ffffff;
        border:1px solid #eeeeee;
        border-bottom:1px solid #ddd;
        font-size:9px;
        color:#746858;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius:3px;
      }
      .readmore {
        color: $light-blue;
        font-size:10px;
        font-style: italic;
      }
      .readmore:hover { color: #C80B2F; }
    }
  }
}