%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "pg4Rzw3upYYwrqSYAAPHQEGODtrkgJsnynilnTNcboA", :name => "google-site-verification"}/
    %title {{page.title}}
    %link{:href => "/stylesheets/reset.css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/grid.css", :rel => "stylesheet"}
    %link{:href => "{{site.baseurl}}/stylesheets/application.css", :rel => "stylesheet"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"}
    %script{:src => "/javascripts/jquery.flux-1.2.1.js"}
    %script{:src => "/javascripts/application.js"}
  %body
    .container
      %header
        .span-8.push-1.last
          #logo
            %a{ :href => "{{site.baseurl}}/" }
              %span.first-name alex
              %span.last-name ganov
            .slogan Just another junkey developer
        .clear
      #slider
        - 1.upto(5) do |slider_image|
          %img{ :src => "{{site.baseurl}}/images/slider/slider-#{slider_image}.jpg" }
      #content
        .span-22.push-1
          {{ content }}
        .clear
      %footer
        .span-8.prepend-1
          %h1 Projects
          %p
            %a{:href => 'http://aganov.github.com/calendar-view/'} CalendarView for jQuery
          %p
            %a{:href => 'http://aganov.github.com/underscore-strings/'} underscore.strings.js
        .span-8
          %h1 Credits
          %p
            %a{:href => 'http://www.flickr.com/photos/michelle-c-p/5763154955/'} michelle-c-p
            &bull;
            %a{:href => 'http://www.flickr.com/photos/54095178@N04/5762752610/'} 54095178@N04
            &bull;
            %a{:href => 'http://www.flickr.com/photos/olitee/5763207026/'} olitee
            &bull;
            %a{:href => 'http://www.flickr.com/photos/ana_jst/4073859907/'} ana_jst
            &bull;
            %a{:href => 'http://www.flickr.com/photos/rjsingson/5763497053/'} rjsingson
            &bull;
            %a{:href => 'https://github.com/mojombo/jekyll'} mojombo-jekyll
        .span-7.last
          %h1 Контакти
          %h2 Apps Bakery
          %p Tel: +3598 99 05 15 95
          %p E-mail: aganov at gmail
          %p.social
            %a{ :href => "http://www.facebook.com/ganov" }
              %img{ :src => "{{ site.baseurl }}/images/icon-facebook.png" }
            %a{ :href => "http://github.com/aganov" }
              %img{ :src => "{{ site.baseurl }}/images/icon-github.png" }
            %a{ :href => "http://twitter.com/aganov" }
              %img{ :src => "{{ site.baseurl }}/images/icon-twitter.png" }
            %a{ :href => "skype:alex.ganov?chat" }
              %img{ :src => "{{ site.baseurl }}/images/icon-skype.png" }
        .clear
    :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-120491-6']);
        _gaq.push(['_trackPageview']);
        
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
