!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %base{:href => "/blog/"}
    %link{:href => "/stylesheets/reset.css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/grid.css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/application.css", :rel => "stylesheet"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"}
    %script{:src => "/javascripts/jquery.flux-1.2.1.js"}
    %script{:src => "/javascripts/application.js"}
  %body
    .container
      %header
        #logo
          %a{ :href => "/" }
            %span.first-name alex
            %span.last-name ganov
          .slogan Just another junkey developer
      #slider
        - 5.times do |slider_image|
          %img{ :src => "/images/slider/slider-#{slider_image + 1}.jpg" }
      #content
        .span-22.push-1
          {{ content }}
        .clear
      %footer
        .span-16 &nbsp;
        .span-8.last
          %h1 Контакти
          %p Tel: +3598 99 05 15 95
          %p E-mail: aganov@gmail.com
          %p.social
            %a{ :href => "http://www.facebook.com/ganov" }
              %img{ :src => "/images/icon-facebook.png" }
            %a{ :href => "http://twitter.com/aganov" }
              %img{ :src => "/images/icon-twitter.png" }
            %a{ :href => "skype:alex.ganov?chat" }
              %img{ :src => "/images/icon-skype.png" }
        .clear