<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta charset='utf-8' />
    <base href='/blog/' />
    <link href='/stylesheets/reset.css' rel='stylesheet' />
    <link href='/stylesheets/grid.css' rel='stylesheet' />
    <link href='/stylesheets/application.css' rel='stylesheet' />
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js'></script>
    <script src='/javascripts/jquery.flux-1.2.1.js'></script>
    <script src='/javascripts/application.js'></script>
  </head>
  <body>
    <div class='container'>
      <header>
        <div id='logo'>
          <a href='/'>
            <span class='first-name'>alex</span>
            <span class='last-name'>ganov</span>
          </a>
          <div class='slogan'>Just another junkey developer</div>
        </div>
      </header>
      <div id='slider'>
        <img src='/images/slider/slider-1.jpg' />
        <img src='/images/slider/slider-2.jpg' />
        <img src='/images/slider/slider-3.jpg' />
        <img src='/images/slider/slider-4.jpg' />
        <img src='/images/slider/slider-5.jpg' />
      </div>
      <div id='content'>
        <div class='span-22 push-1'>
          {{ content }}
        </div>
        <div class='clear'></div>
      </div>
      <footer>
        <div class='span-16'>&nbsp;</div>
        <div class='span-8 last'>
          <h1>Контакти</h1>
          <p>Tel: +3598 99 05 15 95</p>
          <p>E-mail: aganov@gmail.com</p>
          <p class='social'>
            <a href='http://www.facebook.com/ganov'>
              <img src='/images/icon-facebook.png' />
            </a>
            <a href='http://twitter.com/aganov'>
              <img src='/images/icon-twitter.png' />
            </a>
            <a href='skype:alex.ganov?chat'>
              <img src='/images/icon-skype.png' />
            </a>
          </p>
        </div>
        <div class='clear'></div>
      </footer>
    </div>
  </body>
</html>
